###### Requirements without Version Specifiers ######
appnope
backports-abc
backports.shutil-get-terminal-size
beautifulsoup4
bleach
bs4
configparser
decorator
entrypoints
enum34
futures
html5lib
ipykernel
ipython
ipython-genutils
ipywidgets
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
MarkupSafe
MechanicalSoup
mistune
nbconvert
nbformat
notebook
pandocfilters
pathlib2
pexpect
pickleshare
Pillow
prompt-toolkit
ptyprocess
pygeoip
Pygments
pyPdf
python-dateutil
python-nmap
pyzmq
qtconsole
scandir
Send2Trash
simplegeneric
singledispatch
six
terminado
testpath
tornado
tqdm
traitlets
wcwidth
webencodings
widgetsnbextension
